<template>
  <div class="hello">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-text">
        Chained Dropdown by chaernh
      </span>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Provinsi</label>
            <select class="form-control drop-item" v-model="pilih_provinsi">
                <option value="">-- Pilih Provinsi --</option>
                <option v-for="(index, province) in data_lokasi" :value="province" :key="index">
                  {{ province }}
                </option>
            </select>
          </div>
        </div>
        <div class="col-md">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Kota/Kabupaten</label>
            <select class="form-control drop-item" v-model="pilih_kota" :disabled="kota.lenght == 0">
                <option value="">-- Pilih Kota --</option>
                <option v-for="(index, city) in kota" :value="city" :key="index">
                  {{ city }}
                </option>
            </select>
          </div>
        </div>
        <div class="col-md">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Kecamatan</label>
            <select class="form-control drop-item" v-model="pilih_kecamatan">
                <option value="">-- Pilih Kecamatan --</option>
                <option v-for="kec in kecamatan" :value="kec" :key="kec">{{ kec }}</option>
            </select>
          </div>
        </div>
      </div>
      <p v-if="pilih_provinsi&&pilih_kota&&pilih_kecamatan">
        Kecamatan {{ pilih_kecamatan }}, {{ pilih_kota }}, Provinsi {{ pilih_provinsi }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data: () => ({
    kota: [],
    kecamatan: [],
    pilih_provinsi: '',
    pilih_kota: '',
    pilih_kecamatan: '',
    data_lokasi: {
      'Jawa Timur ': {
        'Kota Surabaya': ['Gubeng', 'Rungkut', 'Wonokromo'],
        'Kota Malang': ['Lowokwaru', 'Klojen', 'Sukun'],
        'Kota Sidoarjo': ['Waru', 'Gedangan', 'Candi'],
        'Kabupaten Madura': ['Arosbaya', 'Bangkalan', 'Pamekasan']
      },
      'Jawa Barat': {
        'Kota Bandung': ['Buahbatu', 'Gedebage', 'Sukajadi'],
        'Kota Cirebon': ['Harjamukti', 'Kejaksan', 'Pekalipan'],
        'Kota Bogor': ['Bogor Barat', 'Bogor Selatan', 'Bogor Utara'],
        'Kota Tasikmalaya': ['Cibeureum', 'Cipedes', 'Indihiang']
      },
      'Jawa Tengah': {
        'Kota Semarang': ['Gajahmungkur', 'Semarang Timur', 'Tembalang'],
        'Kota Surakarta': ['Banjarsari', 'Jebres', 'Pasar Kliwon'],
        'Kabupaten Sragen': ['Kedawung', 'Miri', 'Sambirejo'],
        'Kota Pekalongan': ['Pekalongan Barat', 'Pekalongan Timur', 'Pekalongan Utara']
      },
      'Daerah Khusus Ibukota Jakarta': {
        'Kota Jakarta Utara': ['Tanjung Priok', 'Kelapa Gading', 'Penjaringan'],
        'Kota Jakarta Timur': ['Cakung', 'Jatinegara', 'Kramat Jati'],
        'Kota Jakarta Barat': ['Cengkareng', 'Kebon Jeruk', 'Kalideres'],
        'Kota Jakarta Selatan': ['Kebayoran Baru', 'Mampang Prapatan', 'Setiabudi']
      },
      'Daerah Istimewa Yogyakarta': {
        'Kota Yogyakarta': ['Gondokusuman', 'Kotagede', 'Pakualaman'],
        'Kabupaten Sleman': ['Kalasan', 'Prambanan', 'Sleman'],
        'Kabupaten Bantul': ['Imogiri', 'Pajangan', 'Sedayu'],
        'Kabupaten Gunung Kidul': ['Karangmojo', 'Purwosari', 'Wonosari']
      }
    }
  }),
  watch: {
    pilih_provinsi () {
      this.kota = []
      this.kecamatan = []
      this.pilih_kota = ''
      this.pilih_kecamatan = ''
      if (this.pilih_provinsi.length > 0) {
        this.kota = this.data_lokasi[this.pilih_provinsi]
      }
    },
    pilih_kota () {
      this.kecamatan = []
      this.pilih_kecamatan = ''
      if (this.pilih_kota.length > 0) {
        this.kecamatan = this.data_lokasi[this.pilih_provinsi][this.pilih_kota]
      }
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.row
{
  margin-top: 5%;
}
</style>
